*{
    margin: 0px;
    padding: 0px;
}

.main-container{
    width: 100vw;
    height: 517px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}